<launch>
  <arg name="path_frame" default ="base_link_p"/>
  <arg name="odom_topic" default ="/gazebo/forklift_controllers/odom"/>
  <arg name="cmd_vel_topic" default ="/cmd_vel_raw"/>

 <node pkg="pallet_docking_xsquare" type="docking_control" name="docking_control" output = "screen" >
   <param name="path_frame" value="$(arg path_frame)"/>
    
    <!-- Control Frequency -->
    <param name="docking_freq" value="20.0"/>  

    <!-- Pure Pursuit parameters -->
    <param name="look_ahead_time" value="3.6"/>    
    <param name="look_ahead_time_straigh_line" value="3.6"/>   
    <param name="min_look_ahead_dis" value="0.1"/>  
    <param name="max_look_ahead_dis" value="2.5"/> 
    <param name="pp_min_lk_distance_approaching" value="0.2"/> 
    <param name="pp_min_lk_distance_docking" value="0.3"/> 
    <param name="max_steering" value="1.57"/>     
    <param name="min_steering" value="-1.57"/> 
    <param name="max_steering_speed" value="0.7"/> 
    <param name="min_steering_speed" value="-0.7"/>  
    <param name="goal_correct_yaw" value="0.2"/>  
    <param name="path_lateral_offset" value="0.0001"/>  
    <param name="i_sw_offset" value="0.01"/> 
    <param name="kp" value="10.0"/>     
    <param name="ki" value="2.0"/> 

    <param name="max_angular_vel" value="0.5"/>  <!-- change from the stable branch -->
    
    <param name="use_track_path_pid" value="true"/> 
    <param name="use_point_interpolate" value="true"/> 
    <param name="use_ref_angle_from_path" value="false"/> 
    <param name="re_cal_lookahead_dis" value="true"/> 

   <!-- Fuzzy controller parameters -->
    <param name="fuzzy_lookahead_dis" value="1.0"/>      <!-- ZERO value for output velocity --> 
    <param name="limit_sp_curve" value="true"/> 

    <param name="min_vel" value="0.00"/>      
    <param name="output_VS" value="0.05"/>    
    <param name="output_S" value="0.1"/>     
    <param name="output_M" value="0.15"/>     
    <param name="max_vel" value="0.2"/>       

    <param name="min_dis" value="0.0"/>      <!-- SMALL distance for input -->
    <param name="goal_M_b" value="0.35"/>      <!-- MEDIUM distance for input -->
    <param name="max_dis" value="0.5"/>      <!-- BIG distance for input -->

    <param name="min_curve" value="-1.5"/>  <!-- NEGATIVE BIG steering for input -->
    <param name="curve_NS_b" value="-0.8"/>   <!-- NEGATIVE SMALL steering for input -->
    <param name="curve_Z_b" value="0.0"/>     <!-- ZERO steering for input -->
    <param name="curve_PS_b" value="0.8"/>    <!-- POSITIVE SMALL steeringfor input -->
    <param name="max_curve" value="1.5"/>   <!-- POSITIVE BIG steering for input -->

    <param name="backward_offset" value="-0.1"/> <!-- offset velocity used to switch to reverse movement.
                                                  should be small negative -->
    <param name="max_linear_acc" value="0.1"/>
    <param name="min_linear_acc" value="-0.1"/>

    <param name="max_pocket_dock_vel" value="0.2"/> 
    <param name="max_pocket_dock_steering" value="1.2"/> 

    <param name="max_abs_vel_change" value="0.01"/>   <!-- dt = 0.02, a = max_abs_vel_change/dt-->
 
  <remap from="/cmd_vel" to = "$(arg cmd_vel_topic)"/>
  <remap from="/gazebo/forklift_controllers/odom" to = "$(arg odom_topic)"/>

 </node>
</launch>
